# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist
dist-ssr
build
*.tsbuildinfo
*.local

# Environment variables
.env
.env.local
.env.*.local
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.sublime-workspace
*.sublime-project

# IDE
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*.swn

# OS files
.DS_Store
Thumbs.db
Desktop.ini
thumbs.db

# Temporary files
*.tmp
*.bak
~$*
.cache
